
* {box-sizing: border-box;}

.book {
  border-radius: 5px;
  box-shadow: 4px 2px 4px 2px rgb(0, 0, 0, 0.4);
  background-color: #f1f1f1;
  margin: 10px;
  width: 240px;
}

#order {
  margin: 10px 0;
  font-size: 16px;
  background-color: rgb(243, 205, 156);
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-weight: inherit;
}

#order_link {
  margin: 0 auto;
}

.flex-container {
  display: inline-flex;
  flex-flow: row wrap;
  
}


/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .book {
    width: 100%;
  }
  .search input[type=search] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: 1px solid #ccc;
  }
  .search input[type=search]:focus {
    border: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .book {
    width: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .book {
    width: 33.33%
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .book {
    width: 25%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}  */

.search input[type=search] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.search input[type=search]:focus {
  border: none;
}

.media-body .desc {
  padding: 5px 10px 5px 0px;
}

.title {
  word-break: break-word;
  padding: 5px 10px 5px 0px;
}