
* {box-sizing: border-box;}

.book {
  border-radius: 5px;
  box-shadow: 4px 2px 4px 2px rgb(0, 0, 0, 0.4);
  background-color: #f1f1f1;
  margin: 10px;
  width: 240px;
}

.flex-container {
  display: inline-flex;
  flex-flow: row wrap;
}


/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .book {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .book {
    width: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .book {
    width: 33.33%
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .book {
    width: 25%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}  */